/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

$fontMontserrat: 'Montserrat', sans-serif; 
$fontMontserratWeightRegular: 400;
$fontMontserratWeightBold: 900;

/* Fonts Size */
h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: $fontMontserratWeightBold;
    color:$titleColor;
}