* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: $fontMontserrat;
    font-weight: $fontMontserratWeightRegular;
    color: $titleColor;
}

/* flex-wrapper */
#flex-wrapper {
    display: flex;
    flex-direction: column;
}
