/* Header */
header {
    background: url('../img/header-bg.png') no-repeat;    
    background-origin: border-box;
    background-size: cover;
    background-position: top right;
    border-left: 1px solid $headerBorderLeftColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;

    /* Header logo */
    .header-logo {
        background: url('../img/logo.png') no-repeat;
        width: 360px;
        height: 180px;
        background-size: contain;
    }

    /* Header Button Text */
    .header-title {
        color: $titleColor;      
        text-align: center;
        margin: 15px 0 25px 0;
    }

    /* Header Button Page Down */
    .header-btn-pagedown {
        background: url('../img/arrow.png') no-repeat;
        width: 97px;
        height: 98px;
        cursor: pointer;
    }
}

/* Main */
main {    
    
    /* Main main-title */
    .main-title {
        text-align: center;
        text-transform: uppercase;
        h1,h2 {
            margin: 10px 0;
        }
        h3 {
            color: white;
            
            span {
            background-color: #eb7323;
            padding: 0 10px;
        }
        }
        h3,h6 {
            font-family: $fontMontserrat;
            font-weight: $fontMontserratWeightRegular;
        }
        h6 {
            font-size: 18px;
        }
    }
}

footer {
    color: yellow;
    border: 1px soldi yellow;
}