/* Header */
header {
    background: url('../img/header-bg.png') no-repeat;
    width: 100%;
    height: 100%;
    background-origin: border-box;
    background-size: cover;
    background-position: top right;
    border-left: 1px solid $headerBorderLeftColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;

    /* Header logo */
    .header-logo {
        background: url('../img/logo.png') no-repeat;
        width: 360px;
        height: 180px;
        background-size: contain;
    }

    /* Header Button Text */
    .header-title {
        color: $titleColor;      
        text-align: center;
        margin: 15px 0 25px 0;
    }

    /* Header Button Page Down */
    .header-btn-pagedown {
        background: url('../img/arrow.png') no-repeat;
        width: 97px;
        height: 98px;
        cursor: pointer;
    }
}

main {
    color: blue;
    border: 1px solid blue;
}

footer {
    color: yellow;
    border: 1px soldi yellow;
}