$componentName: '.l-main';

#{$componentName} {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  //Titulo
  & .c-titulo {
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;

    & .is--ativo {
      background: var(--laranja);
      color: var(--branco);
      text-transform: uppercase;
      font-weight: var(--regular);
      display: inline-block;
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      margin: 1rem 0;
      font-size: $media;
    }

    &__grande {
      font-size: $grande;
      font-weight: var(--extraBold);
    }

    &__medio {
      margin-bottom: 1rem;
      font-weight: var(--extraBold);
      font-size: $extra-media;
    }

    &__pequeno {
      font-size: $pequeno;
    }
  }
}
