@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

// Tamanho Fontes
$pequeno: em(14);
$normal: em(16);
$media: em(20);
$extra-media: em(28);
$grande: em(32);
$extra-grande: em(40);

:root {
  // Import Google Fonts MontSerrat Sans-Serif
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

  // Font
  --montserrat: 'Montserrat', sans-serif;

  // Font Weight
  --thin: 100;
  --regular: 400;
  --bold: 700;
  --extraBold: 900;

  // Cores
  --verde: #119e49;
  --verdeClaro: #5fa553;
  --preto: #262626;
  --laranja: #eb7323;
  --branco: #fff;
}
