$componentName: 'c-titulo';

.#{$componentName} {
  text-align: center;
  color: var(--preto);
  font-family: var(--montserrat);

  h1 {
    font-size: $extra-grande;
    line-height: calc(32px * 1.5);

    @include d(mobile) {
      font-size: $grande;
    }
  }

  h2 {
    font-size: $grande;
    margin: 1rem 0;
    line-height: calc(28px * 1.5);

    @include d(mobile) {
      font-size: $extra-media;
    }
  }

  h3 {
    font-size: $extra-media;
  }
  h4 {
    font-size: $media;
  }
  h5 {
    font-size: $normal;
  }
  h6 {
    font-size: $normal;
    margin-bottom: 1rem;
    line-height: calc(16px * 1.5);

    @include d(mobile) {
      font-size: $pequeno;
      line-height: calc(14px * 1.5);
    }
  }

  &__ativo {
    background: var(--laranja);
    color: var(--branco);
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 1rem;
    line-height: calc(20px * 1.5);

    @include d(mobile) {
      font-size: $media !important;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
