$layout: 'l-header';

.#{$layout} {
  width: 100%;
  height: 100vh;
  background: url('../img/header-bg.jpg') no-repeat right top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  text-align: center;
  overflow: hidden;

  @include d(desktop-up) {
    padding-top: 15vh;
  }

  // logo
  &__logo {
    text-align: center;
    img {
      max-width: 425px;
      height: 240px;

      @include d(mobile) {
        max-width: 80%;
        height: auto;
      }
    }
  }

  // page-down
  &__page-down img {
    width: 97px;
    height: 98px;
    animation: arrow 0.8s alternate-reverse infinite;
    cursor: pointer;
    @include d(mobile) {
      width: 77px;
      height: 78px;
    }

    &:hover {
      opacity: 0.9;
      transition: 0.3s;
    }
  }
}
